html {
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
background-color: black;
text-align: center;
}

h1 {

font-weight: normal;
font-size: 50px;
}

.title {
text-align: center;
}

.headings {
font-size: 21px;

}
#camp {
display: inline-flex;
justify-content: center;
image-rendering: pixelated;
}

.downloadlink {
 color: aquamarine;
 font-size: 16px;
}

h4 {
text-align: right !important;
}