html {
font-family: Helvetica, Arial, sans-serif;
color: white;
background-color: black;
text-align: center;
}

h1 {
color: blue;
}

.heading {
text-align: center;
}

#camp {
display: inline-flex;
justify-content: center;
image-rendering: pixelated;
}

.images {
 display:inline-flex;
}
#images {
 display: inline-flex;
}

h4 {
text-align: right;
}